$neutral-1: #EEE;
$neutral-2: #FFF;
$accent-1a: #422B5A;
$accent-1b: #6A4A8E;
$accent-1c: #6A4A8E;
$drop-shadow: rgba(34, 34, 34, 0.5);

$text-color: #222;
$text-color-2: $neutral-2;
$text-color-low-emphasis: #EEE;
