$neutral-1: #FFF5E9;
$neutral-2: #E9FEFF;
$accent-1a: #191A52;
$accent-1b: #192180;
$accent-1c: #1325C7;

$text-color: #070D47;
$text-color-2: $neutral-2;
$text-color-low-emphasis: #D0D4FB;

$drop-shadow: drop-shadow(0 0 2px rgba(208, 212, 251, 0.5));
