@use 'constants';
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap');

body {
    font-family: 'Rubik', 'Kosugi', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: constants.$text-color;
}

.font-numeric {
    font-family: 'Montserrat', sans-serif;
    font-variant-numeric: tabular-nums;
}
