@use 'constants';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kosugi&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Kanit', 'Kosugi Maru', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: constants.$text-color;
}

.font-numeric {
    font-family: 'Montserrat', sans-serif;
    font-variant-numeric: tabular-nums;
}
